* Importing required modules and reading the first tab on the facets_2017_1.xlsx workbook.

In [1]:
import pandas as pd
url = "https://github.com/mcantor2/FACETS/blob/master/facets_2017_1.xlsx?raw=true"
FacetDF = pd.read_excel(url, sheet_name=0)
FacetDF.sample(5)

,FIPS,Urban,Total_Population,P_WH,P_AA,P_AI,P_AS,P_NH,P_OR,P_2R,...,Tob_retailer_per_1000,felony_per_1000,GINI,SVI_themes_total,SVI_flags,serious_housing_violations_per_1000,total_housing_violations_per_1000,Voter Turnout,Turnout quartile,Unnamed: 49
646,36047036501,1.0,2677,0.05,0.90,0.0,0.00,0.0,0.05,0.00,...,0,55,0.3928,0.8243,0,0.240731,0.79804,0.19,1,NaN
2109,36085014607,1.0,4909,0.91,0.00,0.0,0.06,0.0,0.00,0.03,...,2,27,0.3655,0.2894,0,0.0628391,0.795962,0.32,4,NaN
1636,36081036800,1.0,2446,0.03,0.93,0.0,0.00,0.0,0.01,0.03,...,2,42,0.3929,0.7867,1,0.0269133,0.0780487,0.26,3,NaN
888,36047068800,1.0,1863,0.41,0.59,0.0,0.00,0.0,0.00,0.00,...,2,31,0.3454,0.4701,0,0.00329769,0.0478164,0.25,3,NaN
1714,36081049600,1.0,3110,0.15,0.19,0.0,0.32,0.0,0.22,0.12,...,1,48,0.3663,0.664,0,0.008074,0.064592,0.25,3,NaN

* Selecting only the needed columns, FIPS and Resp_HI which are representing FIPS and Respiratory Hazard Index respectively.
* Reindexing the derived dataframe using FIPS

In [2]:
selected_columns = ['FIPS', 'Resp_HI']
FacetRHI = FacetDF.loc[:, selected_columns]
FacetRHI = FacetRHI.set_index('FIPS')

* Save the new dataframe to a .csv file

In [3]:
FacetRHI.to_csv("FACET_RHI.csv")

In [4]:
FacetRHI.sample(5)

            Resp_HI
FIPS
36061000202   3.612
36047119600   3.437
36047056200   2.711
36005006500   3.697
36081003100   5.176